<b><font size=6 color='green'>ch06. 데이터 구조</font>

* 리스트 []  list 
* 튜플 ()  tuple
* 딕셔너리 dictionary
* 셋 set

## 1.1 리스트 만들기 

* []를 이용해 만들며, 여러 개 값을 하나의 변수에 저장/관리할 수 있음. list() 함수 이용도 가능
* 인덱스 : 각 요소의 위치. 인덱스는 0부터 시작. 맨 마지막의 인덱스는 -1. 
* 슬라이싱 ([from:to:by]) : 부분 데이터 셋을 뽑아 내는것. 인덱스를 이용하여 쓰기와 읽기 지원

In [1]:
fruits = ['banana','apple','orange','grape']
type(fruits)

list

In [2]:
print(fruits)

['banana', 'apple', 'orange', 'grape']

In [10]:
# range(from, to, by): from 부터 to-1 까지 by씩 증가 
# from 이 생략되면 0부터, by가 생략 됐을 경우 1로 계산

range(0,10)
range(6) # 0 부터 5까지

print(list(range(6)))
print(list(range(0,10)))
print(list(range(10,1,-1)))

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [5]:
for f in fruits:
    print(f, end='\t')

banana	apple	orange	grape

In [6]:
for i in [1,2,3,4]:
    print(i,end='\t')

1	2	3	4

In [7]:
for i in list(range(len(fruits))):
    print(i,'번째 과일은',fruits[i])

0 번째 과일은 banana
1 번째 과일은 apple
2 번째 과일은 orange
3 번째 과일은 grape

In [8]:
numbers =[1,2,'3',True] ## 다른 자료형이 들어가도 됀찮음
numbers

[1, 2, '3', True]

In [9]:
# 2차원 리스트 

numbers2D = [[1,2,3,4,5],
             [6,7,8,9,10],
             [1,3,5,7,9]]
numbers2D

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [1, 3, 5, 7, 9]]

In [10]:
numbers2D[0][1]

2

In [25]:
len(numbers2D),\
len(numbers2D[0])

(3, 5)

In [27]:
numbers2D[1][2] ## 리스트 안의 리스트 원소 접근

8

In [32]:
for row in numbers2D:
    print('\n')
    for element in row:
        print(element,end=' ')  ## 리스트 내의 각 원소 출력하기

1 2 3 4 5

6 7 8 9 10

1 3 5 7 9

In [34]:
for idx1 in range(len(numbers2D)):
    print('\n')
    for idx2 in range(len(numbers2D[idx1])):
        print(idx1,'행',idx2,'열: ',numbers2D[idx1][idx2],end='\t')

0 행 0 열:  1	0 행 1 열:  2	0 행 2 열:  3	0 행 3 열:  4	0 행 4 열:  5

1 행 0 열:  6	1 행 1 열:  7	1 행 2 열:  8	1 행 3 열:  9	1 행 4 열:  10

2 행 0 열:  1	2 행 1 열:  3	2 행 2 열:  5	2 행 3 열:  7	2 행 4 열:  9

## 1.2 기본 정보 조회

In [35]:
numbers = [1,2,3,4,5]
numbers2D = [[100,0,0,0,0],[90,90,90,90,90]]

In [36]:
# 요소의 수 

print(len(numbers))
print(len(numbers2D))

5
2

In [40]:
# 최소값 min, 최대값 max

print('1차원 배열의 최댓값: ',max(numbers))
print('2차원 배열의 최댓값: ',max(numbers2D)) ## 각 배열의 첫번째 요소가 가장 큰 값을 리턴

1차원 배열의 최댓값:  5
2차원 배열의 최댓값:  [100, 0, 0, 0, 0]

## 1.3 요소 추가

In [1]:
# + 두 리스트 연결 
# * 리스트*n = 리스트를 n 번만큼 반복 
# append() 요소 맨뒤에 요소 추가 
# extend(): 리스트를 요소별로 맨 뒤에 추가 
# insert(idx,값):  idx번째 인덱스 값에 추가 

numbers = [1,2,3,4,5]
numbers = numbers +numbers
print(numbers)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [45]:
numbers = [1,2,3,4,5]
print('리스트 곱: ',numbers*3)
print('append 함수: ',numbers.append(4))

리스트 곱:  [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
append 함수:  None

In [47]:
numbers.append(4)
print('append 함수: ',numbers)

append 함수:  [1, 2, 3, 4, 5, 4, 4, 4]

In [48]:
num = [7,8,9]
numbers.extend(num)
print('배열내 배열 요소들 추가: ',numbers)

배열내 배열 요소들 추가:  [1, 2, 3, 4, 5, 4, 4, 4, 7, 8, 9]

In [49]:
numbers.append('Hello')
print(numbers)

[1, 2, 3, 4, 5, 4, 4, 4, 7, 8, 9, 'Hello']

In [50]:
numbers.extend('Hello')
print(numbers)

[1, 2, 3, 4, 5, 4, 4, 4, 7, 8, 9, 'Hello', 'H', 'e', 'l', 'l', 'o']

In [51]:
numbers = [1,2,3,4,5]

numbers.insert(1,'xx')

print(numbers)

[1, 'xx', 2, 3, 4, 5]

## 1.4 인덱싱

* [index] :인덱스를 이용한 접근 
* index() : 해당 요소의 위치 반환
* count() : 리스트에서 특정 데이터의 갯수 반환

In [9]:
numbers = [1,2,3,[1,2,3],1,2,3]
numbers2D = [[1,2,3],[1,2,3]]

print(numbers.count(2)) 
print(numbers2D.count(2))
print(numbers2D.count([1,2,3]))

2
0
2

In [10]:
print(2 in numbers)
print(2 in numbers2D)

True
False

In [11]:
numbers.index(2) ## 2가 있는 곳의 인덱스 (왼쪽부터)

1

In [12]:
numbers.index(2,3) ## 3번 인덱스 부터 시작해서 2를 찾아서 인덱스 반환

5

In [64]:
print(numbers.count(9))
print(numbers.index(9)) # count 함수와는 달리 9가 리스트 내에 없는 원소이면 오류가남

0

ValueError: 9 is not in list

In [66]:
numbers[20] # 인덱스의 범위를 벗어나도 에러가남

IndexError: list index out of range

## 1.5 원하는 리스트 내용만 추출 ; 리스트 슬라이싱

* 인덱스 보다 많은 값을 써도 에러나지 않음 
* [from:to:by]
* 인덱스는 음수 가능

In [68]:
numbers = [1,3,5,7,9]

numbers[::-1]

[9, 7, 5, 3, 1]

## 1.6 리스트 컴프리헨션을 이용해서 list의 원하는 데이터 엑세스

In [70]:
numbers = [1,3,5,7,9,10,13,18,19,20]

# 모든 데이터를 다 가져오기 

for data in numbers:
    print(data,end=' ')

1 3 5 7 9 10 13 18 19 20

In [72]:
[data for data in numbers ]

[1, 3, 5, 7, 9, 10, 13, 18, 19, 20]

In [73]:
# 짝수 데이터만 가져오기 
[data for data in numbers if data%2==0]

[10, 18, 20]

In [75]:
# 10이상의 데이터만 가져오기 
[x for x in numbers if x>=10]

[10, 13, 18, 19, 20]

In [79]:
# 과일의 글씨가 5글자 이상인 것만 과일을 추출

fruits = ['orange','apple','mango','kiwi']

[f for f in fruits if len(f)>=5]

['orange', 'apple', 'mango']

In [80]:
# 과일의 글자수를 추출하시오 

[len(l) for l in fruits]

[6, 5, 5, 4]

In [81]:
# 리스트 값의 제곱을 추출 

l = [1,2,3,4,5]

[v**2 for v in l]

[1, 4, 9, 16, 25]

## 1.7 요소 수정하기

In [83]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2] =2222
numbers

[0, 1, 2222, 3, 4, 5, 6, 7, 8, 9]

In [84]:
# 부분 리스트를 통째로 바꿈()

numbers[0:2] = [1111,1111,1111,1111,1111,1111]
numbers

[1111, 1111, 1111, 1111, 1111, 1111, 2222, 3, 4, 5, 6, 7, 8, 9]

In [87]:
# 슬라이싱에서 by가 포함된 경우 

numbers = [0]*10 
print('수정 전: ',numbers)
numbers[::2] = [11,11,11,11,11,11] # 선택한 인덱스들의 갯수와 넣을 입력값의 갯수가 맞지 않으면 에러남

수정 전:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

ValueError: attempt to assign sequence of size 6 to extended slice of size 5

## 1.8 삭제하기 

* pop() 가장 마지막 인덱스의 요소가 반환되고 삭제 
* pop(n) n번째 인덱스의 요소가 반환되고, 그 인덱스 요소가 삭제 
* remove(data): 해당 데이터가 삭제됨 
* del 리스트변수[n] : n번째 인덱스의 데이터 삭제

In [89]:
numbers = [0,1,2,3,4,5]

print(numbers)
print(numbers.pop())
print(numbers)

[0, 1, 2, 3, 4, 5]
5
[0, 1, 2, 3, 4]

In [91]:
print(numbers.pop(1))
print(numbers)

1
[0, 2, 3]

In [94]:
print(numbers.remove(3))   # 반환값은 pop과 달리 없음
print(numbers)

[0, 2]

In [95]:
del numbers[1]

In [96]:
print(numbers)

[0]

## 1.9 정렬하기

In [97]:
numbers = [9,5,2,6,0]

numbers.sort() ## 기본 정렬은 오름차순 정렬 

print(numbers)

[0, 2, 5, 6, 9]

In [98]:
numbers.sort(reverse=True) ## 내림차순으로 정렬하기 
print(numbers)

[9, 6, 5, 2, 0]

In [99]:
numbers.reverse() 
print(numbers) # 내림차순으로 정렬한 것을 다시 오름차순으로 뒤집음

[0, 2, 5, 6, 9]

## 2.0 리스트 복제

In [100]:
numbers = [6,2,7,4,10]

new_numbers = numbers ## numbers 변수에 리스트의 주소가 담겨있으므로 new_numbers도 결국은 numbers와 같은 객체가 되버림

new_numbers.sort()

print(numbers) # new_numbers 뿐만 아니라 numbers 리스트 까지 sort가 되버림

[2, 4, 6, 7, 10]

In [103]:
print(id(new_numbers))
print(id(numbers))   ## 두 리스트가 메모리 주소가 같으므로 같은 객체

2411428164800
2411428164800

In [104]:
## 복제

numbers = [6,2,7,4,10]

new_numbers = numbers.copy()  # numbers를 복제 

new_numbers.sort()

print(numbers) # new_numbers 뿐만 아니라 numbers 리스트 까지 sort가 되버림

[6, 2, 7, 4, 10]

In [105]:
city = ['서울','부산','대구','인천']

temp = city.copy()

city.sort()

print('원데이터: ',' '.join(temp))
print('정렬한 데이터: ' ,' '.join(city))

원데이터:  서울 부산 대구 인천
정렬한 데이터:  대구 부산 서울 인천

## 2절. 튜블 (tuple)

- 리스트와 유사하지만 읽기전용. 수정이 필요없는 데이터 타입에서 사용
- 수정이 불가하므로 튜플에 데이터 추가, 수정, 삭제 불가
- () 이용해서 생성

In [114]:
city = ('서울','부산','인천','대구') 
type(city)

tuple

In [115]:
'-'.join(city)

'서울-부산-인천-대구'

In [116]:
I = ['서울']
print(type(I))
print(I)

<class 'list'>
['서울']

In [117]:
city = ('서울') # 요소가 하나있는 튜플은 튜플이 생성안됨. 
print(type(city))
print(city)

<class 'str'>
서울

In [118]:
city = ('서울',)  # 요소가 하나라면 뒤에다 , 를 붙여줌 
print(type(city))
print(city)

<class 'tuple'>
('서울',)

In [122]:
number = 1,2,3  #여러개 값을 나열하면 자동적으로 튜플로 정의됨

print(type(number))
print(number)

<class 'tuple'>
(1, 2, 3)

In [120]:
a,b = 10,20 
(a,b) = (10,20) # 위와 아래가 동일한 식

In [125]:
number.remove(4) # 튜플에는 수정하는 함수 적용이 불가

AttributeError: 'tuple' object has no attribute 'remove'

In [126]:
data = (0,1,2,3,4,(5,6))
data[2:5]

(2, 3, 4)

In [127]:
data.index(2)

2

In [128]:
data * 3

(0, 1, 2, 3, 4, (5, 6), 0, 1, 2, 3, 4, (5, 6), 0, 1, 2, 3, 4, (5, 6))

## 3절. 딕셔너리 
cf. 자바에서의 hashmap 과 동일

* 중괄호 {}를 이용해서 생성. 키(key)-값(value)의 쌍으로 구성된 자료구조 
* 키는 유일한 값 (중복 허용하지 않음). 키에 리스트는 사용불가 키에 튜플은 사용가능 
* 값은 중복가능, 모든 데이터 타입이 가능함 
* 없는 키의 값을 참조하면 에러발생 
* 인덱스를 이용한 참조는 지원안함

In [129]:
dic = {'key1':'value1','key2':'value2'}
print(type(dic))
print(dic)

<class 'dict'>
{'key1': 'value1', 'key2': 'value2'}

In [130]:
len(dic)

2

In [132]:
my_favorite = {'fruit':'apple','number':12,'sport':'golf'}

my_favorite['sport']

'golf'

In [133]:
my_favorite.get('sport')

'golf'

In [134]:
my_favorite['people'] ## 키 목록에 없는 데이터를 인덱스로 참조하면 에러발생

KeyError: 'people'

In [136]:
print(my_favorite.get('people')) ## 없는 키로 참조시 None 리턴

None

In [1]:
# 수정 

my_favorite = {'fruit':'apple','number':12, 'sport':'golf'}

my_favorite['fruit'] = 'banana'
my_favorite['people'] = 'KIM' # 새로운 키값과 인자값 추가 

my_favorite.pop('sport') # 삭제하기 

print('수정후',my_favorite)

수정후 {'fruit': 'banana', 'number': 12, 'people': 'KIM'}

In [139]:
# 삭제 

del my_favorite

In [149]:
print(my_dic.keys()) # 딕셔너리의 키값을 리스트로 뿌려줌
print(my_dic.values()) # 딕셔너리의 value 값을 리스트로 뿌려줌
print(my_dic.items()) # 튜플 형태로 (키,값)을 뿌려줌

dict_keys(['name', 'age', 'tel'])
dict_values(['홍길동', 25, '010-9999-9999'])
dict_items([('name', '홍길동'), ('age', 25), ('tel', '010-9999-9999')])

In [151]:
# for를 이용한 dictionary 출력 

my_dic = {'name':'홍길동','age':25, 'tel':'010-9999-9999'}

for key, value in zip(my_dic.keys(),my_dic.values()):
    print(key,'는(은)',value)

name 는(은) 홍길동
age 는(은) 25
tel 는(은) 010-9999-9999

In [152]:
for key, value in my_dic.items():
    print(key,'는(은)',value)

name 는(은) 홍길동
age 는(은) 25
tel 는(은) 010-9999-9999

## 4절. in 연산자

In [4]:
L = [1,2,3]
K = (1,2,3)
my_dic = {'name':'홍길동','age':25, 'tel':'010-9999-9999'}


print(3 in L)
print(3 in K)
print('홍길동' in my_dic) ## 딕셔너리의 경우 in 연산자 안됨

True
True
False

In [5]:
'name' in my_dic ## 딕셔너리에서는 리스트와 튜플과 달리 요소가 아니라 키값으로 in 연산자를 사용하여야 함.

True

In [7]:
my_favorite = {'fruit':'apple','number':1}

new_my_favorite = my_favorite

print(my_favorite)
print(new_my_favorite)

{'fruit': 'apple', 'number': 1}
{'fruit': 'apple', 'number': 1}

In [8]:
my_favorite['fruit'] = '과일은 다 좋아'

In [9]:
print(my_favorite)
print(new_my_favorite) 

## 둘다 바뀌어 버림

{'fruit': '과일은 다 좋아', 'number': 1}
{'fruit': '과일은 다 좋아', 'number': 1}

In [12]:
my_favorite = {'fruit':'apple','number':1}

new_my_favorite =  my_favorite.copy() 

my_favorite['fruit'] = '과일은 다 좋아'

print('my_favorite',my_favorite)
print('new_my_favorite',new_my_favorite)

my_favorite {'fruit': '과일은 다 좋아', 'number': 1}
new_my_favorite {'fruit': 'apple', 'number': 1}

## 5절. 셋 (set)

* 중복을 허용하지 않는 집합 (순서가 없음) 
* 중괄호 { } 이용하여 만듬. 또는 set(리스트, 딕셔너리, 튜플 등등...) 함수 이용하여 만듬
* 집합연산자가 가능함. 교집합 합집합, 차집합

In [14]:
fruits = {'apple','orange','banana','banana'}
fruits

{'apple', 'banana', 'orange'}

In [17]:
s1 = set([1,2,3,1,1])
s2 = set((1,2,3,))
s3 = set({'name':'홍길동','age':30})


print('list: ',s1)
print('set: ',s2)
print('dictionary: ',s3) # 키 값만 출력이 됨

list:  {1, 2, 3}
set:  {1, 2, 3}
dictionary:  {'age', 'name'}

In [24]:
s2.add(4) ## 여러번 실행해도 1번만 추가됨. 모든 기본 자료형 가능하며, 튜플 또한 가능함
s2.add(False)
s2

{(5, 6, 7), 1, 2, 3, 4, False}

In [25]:
s2.add(0) # False 값을 0으로 간주하기 때문에 중복되어서 안 들어감 
s2

{(5, 6, 7), 1, 2, 3, 4, False}

In [22]:
s2.add((5,6,7))
s2

{(5, 6, 7), 1, 2, 3, 4}

In [23]:
s2.add([5,6,7]) # add 함수로는 list 추가 불가 -> update() 이용

TypeError: unhashable type: 'list'

In [26]:
s2.add({'name':'kim','age':23}) # add 함수로는 list 추가 불가 -> update() 이용

TypeError: unhashable type: 'dict'

In [27]:
s1 = {1,2,3}
s1.update([4,5,6,1])
s1

{1, 2, 3, 4, 5, 6}

In [32]:
s1.update({'name':'kim','age':23}) # key 값만 입력이 됨 
s1

{1, 2, 3, 4, 5, 6, 'age', 'name'}

In [33]:
s1.remove('name')
s1

{1, 2, 3, 4, 5, 6, 'age'}

In [34]:
s1.remove('kim') # 없는 데이터를 지우려 하면 에러남 
s1

KeyError: 'kim'

In [35]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}

print('s1 = ',s1)
print('s2 = ',s2)
print('교집합 ',s1&s2) # & : 교집합, and 논리연산자, 비트연산자
print('합집합 ',s1|s2)
print('차집합 ',s1-s2)

s1 =  {1, 2, 3, 4, 5, 6}
s2 =  {4, 5, 6, 7, 8, 9}
교집합  {4, 5, 6}
합집합  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합  {1, 2, 3}

In [36]:
name = {'kildong','kilja','sunja'} # 인덱스로는 접근이 불가 (데이터가 순서가 없음 set은) -> enumerate() 이용 
print(name)

{'sunja', 'kilja', 'kildong'}

In [39]:
for n in name:
    print(n, end='  ')

sunja  kilja  kildong

## 6절. enumerate

* 반복자 또는 순서 객체로 반복문을 처리할 때 인덱스 처리를 해결하는 함수

In [40]:
list(enumerate(name))

[(0, 'sunja'), (1, 'kilja'), (2, 'kildong')]

In [41]:
for index, value in enumerate(name):
    print('{} 번째 : {}'.format(index, value))

0 번째 : sunja
1 번째 : kilja
2 번째 : kildong

In [43]:
L = ['길자','순자','길동']

for idx, name in enumerate(L):
    print('{}번째, 이름은 {}'.format(idx,name))

0번째, 이름은 길자
1번째, 이름은 순자
2번째, 이름은 길동

In [47]:
dic = {'name':'홍길동','age':35,'address':'마포구'}

for key, value in dic.items():
    print('{} : {}'.format(key,value))

name : 홍길동
age : 35
address : 마포구

In [49]:
list(enumerate(dic))

[(0, 'name'), (1, 'age'), (2, 'address')]

In [50]:
list(enumerate(dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 35)), (2, ('address', '마포구'))]

In [52]:
for idx , (key,value) in enumerate(dic.items()):
    print('인덱스: {}, 키값: {}, 인자값: {}'.format(idx,key,value))

인덱스: 0, 키값: name, 인자값: 홍길동
인덱스: 1, 키값: age, 인자값: 35
인덱스: 2, 키값: address, 인자값: 마포구