## ch08. 연습문제

In [7]:
## 함수의 인자로 리스트를 받은 후 리스트 내 정수의 최대 최소값을 리턴하는 함수 정의 

def get_min_max(list_):
    min_val = min(list_)
    max_val = max(list_)
    return min_val, max_val

In [8]:
list_ = [60,40,22,33,12,14,35]

get_min_max(list_)

(12, 60)

In [11]:
## 체질량 지수 (BMI) 에 따라 마른체형, 표준, 비만, 고도비만 중 하나를 출력하는 함수 정의 

def cal_bmi(weight, height):
    bmi = weight/(height**2)
    if bmi <18.5:
        return '마른체형'
    elif 18.5<= bmi <25.0:
        return '표준'
    elif 25.0 <= bmi <30.0:
        return '비만'
    elif bmi >= 30.0:
        return '고도 비만'

In [13]:
cal_bmi(80,1.73)

'비만'

In [18]:
## 직각 삼각형의 밑변과 높이를 입력 받은 후 삼각형의 면적과 둘레를 계산 하는 함수를 정의
import math
def get_triangle(width, height):
    perimeter = width+height+math.sqrt(width**2+height**2)
    area = 0.5*width*height
    return round(perimeter,2), area

In [19]:
get_triangle(10,20)

(52.36, 100.0)

In [20]:
## 함수의 인자로 두 정수를 받고 두 인자 포함 사이 값을 모두 더한 값을 리턴 하는 함수 정의 

def mysum(frm, end):
    temp =0
    for i in range(frm, end+1):
        temp += i
    return temp

In [21]:
mysum(1,10)

55

In [22]:
## 문자열 리스트를 받고, 각 문자열의 처음 세글자만 추출한 것으로 리스트 반환

def get_abbrs(list_):
    return [x[:3] for x in list_]

In [23]:
list_ = ['Seoul','Jeju','Kwangju','Daegu']

get_abbrs(list_)

['Seo', 'Jej', 'Kwa', 'Dae']

In [30]:
## 다음 코드를 람다 함수 형태로 변환하시오 

def f(x,y):
    return x**y

lambda x,y:x**y

In [32]:
## ex =[1,2,3,4,5]를 [1,4,9,16,25]로 변환되도록 람다함수를 구현 

ex = [1,2,3,4,5]

list(map(lambda x:x**2, ex))

[1, 4, 9, 16, 25]

In [33]:
#  다음 코드를 람다 함수 형태로 수정할 때, 알맞은 코드를 작성하시오. 
#  def f(x, y): 
#    return x**y

lambda x,y:x**y

In [34]:
# 다음과 같이 리스트 컴프리헨션으로 되어 있는 코드를 람다(lambda) 함수와 map() 함수를 
# 사용하여 표현하시오.
# >>> ex = [1, 2, 3, 4, 5]
# >>> [value **2 for value in ex]
# [1, 4, 9, 16, 25]
ex=[1,2,3,4,5]
list(map(lambda x:x**2, ex))

[1, 4, 9, 16, 25]

In [36]:
a = [1,2,3]

print(*a) # * 선언문으로 리스트로 묶여있는 a를 언패킹 함

1 2 3

In [37]:
# 5. 다음 코드의 실행 결과를 쓰시오.

# >>> date_info = {'year': "2019", 'month': "9", 'day': "6"}
# >>> result = "{year}-{month}-{day}".format(**date_info)
# >>> result 

# 'year=2019-month=9-day=8' 가 나옴 

date_info = {'year': "2019", 'month': "9", 'day': "6"}
result = "{year}-{month}-{day}".format(**date_info)
result

'2019-9-6'